{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Check the weather</h1>

        {{ form_start(locationForm)}}
            {{ form_widget(locationForm) }}

            <button type="submit" class="btn btn-primary">Search</button>
        {{ form_end(locationForm)}}
    </div>
{% endblock %}
